*{
    margin:  0 auto;
    padding: 0;
    font-family: 'Numans', sans-serif;
    text-align: center;
}

h1{
    color: white;
    font-size: 5vw;
    width: 100vw;
}

input{
    margin: 10px;
    background-color: #6FB478;
    color: white;
    height: 5vh;
    font-size: 4vh;
    width: 15vw;
    border-radius: 5px;
}

select {
    background-color: #6FB478;
    font-size: 4vh;
    color: white;
}

form{
   padding : 3vh;
}

#quadrado-verde{
    background-color: #6FB478;
    height: 15vh;
}
    
#quadrado-amarelo{
    background-color: #FCF05C;
}

label {
    color: #3d9e4a;
}
         
img{
    border-radius: 100%;
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
}        