*{
    font-family: 'Numans', sans-serif;
    padding: 0px;
    margin: 0px;

}
a{
    text-decoration: none;
    color: black;
    transition: font-size 0.25s;
    margin: auto 1.2em;
}
a:hover{
    font-size: 1.25em;
}

body{
    background-color: var(--verde);
}

img{
    width: 50vw;



}

h2{
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    padding-left: 0.8vw;
}


main{

    display: flex;
    justify-content: flex-end;
    background-color: var(--verde2);
    margin: 5vh 0;

}

nav{
    width: 100vw;
    background-color: var(--branco);
    display: flex;
    justify-content: end;
    
}

main p{
    font-size: 4em;
    margin: 5vh 5vw;
    color: var(--branco);
    font-weight: bolder;
}

#preencher{
    width: 80vw;
}