*{
    margin:  0 auto;
    padding: 0;
    font-family: 'Numans', sans-serif;
    text-align: center;
}

body {
    background-color: var(--verde);
}

h1{
    font-size: 5vw;
    position: absolute;
    margin-top: calc(18vh);
    width: 100vw;
}

input{
    margin: 10px;
    background-color: var(--verde2);
    color: white;
    font-size: 4vh;
    width: 15vw;
    border-radius: 5px;
}

select {
    background-color: #6FB478;
    font-size: 4vh;
    color: white;
}

form{
   padding-top: 16vh;
   height: 100%;
}

#quadrado-verde{
    background-color: var(--branco);
    height: 50vh;
}
         
img{
    border-radius: 100%;
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
}        